
<body>

			<!--start-image-slider---->
					<div class="image-slider">
						<!-- Slideshow 1 -->
					    <ul class="rslides" id="slider1">
					      <li><img src="/assets/slider2.jpg" alt=""></li>
					      <li><img src="/assets/slider3.jpg" alt=""></li>
					      <li><img src="/assets/slider1.jpg" alt=""></li>
					    </ul>
						 <!-- Slideshow 2 -->
					<div class="clear"> </div>
					<!--End-image-slider---->
		</div>
		<div class="main">	
			<div class="wrap">
	
<div class="content">
	<div class="content-grids">
      		<div class="content-grid first-grid">
      			<ul>
      		
      				<li><h4><img src="/assets/a.png" title="pic1" alt="">readable</h4></li>
      				<li><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua consectetur adipisicing elit Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p></li>
      			
      			</ul>
      		</div>
      		<div class="content-grid">
      			<ul>
      				
      				<li><h4><img src="/assets/b.png" title="pic1" alt="">incididunt</h4></li>
      				<li><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua consectetur adipisicing elit Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p></li>
      				
      			</ul>	
      		</div>
      		<div class="content-grid last-grid">
      			<ul>
      				
      				<li><h4><img src="/assets/c.png" title="pic1" alt="">eiusmod</h4></li>
      				<li><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua consectetur adipisicing elit Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p></li>
      				
      			</ul>
      		</div>
      <div class="clear"></div>
      </div>
<div class="content-bottom-grids">
			<h3>About our Company</h3>
      		<div class="content-bottom-grid">
      			<div class="content-bottom-grid1">
      				<a href="#"></a><img src="/assets/cont1.jpg" title="pic1" alt=""></a>
      			</div>
      			<div class="content-bottom-grid2">
      				
      			<ul>
      				<li><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua consectetur adipisicing elit Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua consectetur adipisicing elit Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p></li>
      				<li><a href="about.html">read more</a></li>
      			</ul>
      			</div>
      			  <div class="clear"> </div>
      		</div>
      		<div class="clear"></div>
</div>
<div class="clear"></div>
</div>
<div class="sidebar">
	<div class="sidebar-grids">
			<h3>Latest News</h3>
      		<div class="sidebar-grid">
      			<div class="sidebar-grid3">
      				<a href="#"><img src="/assets/top1.jpg" title="pic1" alt=""></a>
      			</div>
      			<div class="sidebar-grid4">
      				
      			<ul>
      				<li><h4><a href="#">this is a sample post1</a></h4></li>
      				<li><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p></li>
      			</ul>
      			</div>
      			  <div class="clear"> </div>
      		</div>
      		<div class="sidebar-grid">
      			<div class="sidebar-grid3">
      				<a href="#"><img src="/assets/top2.jpg" title="pic1" alt=""></a>
      			</div>
      			<div class="sidebar-grid4">
      				
      			<ul>
      				<li><h4><a href="#">this is a sample post1</a></h4></li>
      				<li><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p></li>
      			</ul>
      			</div>
      			  <div class="clear"> </div>
      		</div>
      		<div class="sidebar-grid">
      			<div class="sidebar-grid3">
      				<a href="#"><img src="/assets/top3.jpg" title="pic1" alt=""></a>
      			</div>
      			<div class="sidebar-grid4">
      				
      			<ul>
      				<li><h4><a href="#">this is a sample post1</a></h4></li>
      				<li><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p></li>
      			</ul>
      			</div>
      			  <div class="clear"> </div>
      		</div>
      		<div class="sidebar-grid">
      			<div class="sidebar-grid3">
      				<a href="#"><img src="/assets/top3.jpg" title="pic1" alt=""></a>
      			</div>
      			<div class="sidebar-grid4">
      				
      			<ul>
      				<li><h4><a href="#">this is a sample post1</a></h4></li>
      				<li><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p></li>
      			</ul>
      			</div>
      			  <div class="clear"> </div>
      		</div>
      		  <div class="clear"> </div>
      		
</div>
 <div class="clear"> </div>
</div>	
 <div class="clear"> </div>
<div class="tsc_carousel_hor products-list">
	<h1>our products</h1>
          <div class="l-carousel">
            <div class="jcarousel-container jcarousel-container-horizontal" style="position: relative; display: block;"><div class="jcarousel-clip jcarousel-clip-horizontal" style="overflow: hidden; position: relative;"><ul class="carousel jcarousel-list jcarousel-list-horizontal" style="overflow: hidden; position: relative; top: 0px; left: 0px; margin: 0px; padding: 0px; width: 2072px;">
              <li class="jcarousel-item jcarousel-item-horizontal jcarousel-item-1 jcarousel-item-1-horizontal" jcarouselindex="1" style="float: left; list-style: none;"> <a href="#"><img src="/assets/cont1.jpg" width="175" height="115" border="0"></a>
               
              </li>
              <li class="jcarousel-item jcarousel-item-horizontal jcarousel-item-2 jcarousel-item-2-horizontal" jcarouselindex="2" style="float: left; list-style: none;"> <a href="#"><img src="/assets/cont2.jpg" width="175" height="115" border="0"></a>
                
              </li>
              <li class="jcarousel-item jcarousel-item-horizontal jcarousel-item-3 jcarousel-item-3-horizontal" jcarouselindex="3" style="float: left; list-style: none;"> <a href="#"><img src="/assets/cont3.jpg" width="175" height="115" border="0"></a>
               
              </li>
              <li class="jcarousel-item jcarousel-item-horizontal jcarousel-item-4 jcarousel-item-4-horizontal" jcarouselindex="4" style="float: left; list-style: none;"> <a href="#"><img src="/assets/cont4.jpg" width="175" height="115" border="0"></a>
              
              </li>
              <li class="jcarousel-item jcarousel-item-horizontal jcarousel-item-5 jcarousel-item-5-horizontal" jcarouselindex="5" style="float: left; list-style: none;"> <a href="#"><img src="/assets/cont1.jpg" width="175" height="115" border="0"></a>
              
              </li>
              <li class="jcarousel-item jcarousel-item-horizontal jcarousel-item-6 jcarousel-item-6-horizontal" jcarouselindex="6" style="float: left; list-style: none;"> <a href="#"><img src="/assets/cont2.jpg" width="175" height="115" border="0"></a>
                
              </li>
              <li class="jcarousel-item jcarousel-item-horizontal jcarousel-item-7 jcarousel-item-7-horizontal" jcarouselindex="7" style="float: left; list-style: none;"> <a href="#"><img src="/assets/cont3.jpg" width="175" height="115" border="0"></a>
               
              </li>
              <li class="jcarousel-item jcarousel-item-horizontal jcarousel-item-8 jcarousel-item-8-horizontal" jcarouselindex="8" style="float: left; list-style: none;"> <a href="#"><img src="/assets/cont4.jpg" width="175" height="115" border="0"></a>
               
              </li>
            </ul></div><div class="jcarousel-prev jcarousel-prev-horizontal jcarousel-prev-disabled jcarousel-prev-disabled-horizontal" style="display: block;" disabled="disabled"></div><div class="jcarousel-next jcarousel-next-horizontal" style="display: block;"></div></div>
          </div>
          <div class="clear"> </div>
			
		<!-- DC Horizontal Carousel:Light End -->
		</div>	
 
</div>
</div>

</body>
