
<body>

<div class="wrap">
			<div class="main1">
<div class="product-main">
	<h4>Our&nbsp;<a href="service.html">Products</a></h4>
	<div class="ser-para">
	
	</div>
	<div class="product-grid-list">
	<h5>Product 01</h5>
	<img src="/assets/pic1.jpg" alt="">
	<p>Qsi turpis, pellentesque at ultrices in, dapibus in magna. Nunc easi diam risus, placerat ut scelerisque et, placerat ut scelerisque ,Nunc easi diam risus, placerat ut scelerisque et, </p>
	<div class="readmore">
			<p><a href="#">Read More</a></p>
		</div>
	</div>
	<div class="product-grid-list">
	<h5>Product 02</h5>
		<img src="/assets/pic2.jpg" alt="">
	<p>Qsi turpis, pellentesque at ultrices in, dapibus in magna. Nunc easi diam risus, placerat ut scelerisque et,placerat ut scelerisque Nunc easi diam risus, placerat ut scelerisque et, </p>
	<div class="readmore">
			<p><a href="#">Read More</a></p>
		</div>
	</div>
	<div class="product-grid-list">
	<h5>Product 03</h5>
		<img src="/assets/pic3.jpg" alt="">
<p>Qsi turpis, pellentesque at ultrices in, dapibus in magna. Nunc easi diam risus, placerat ut scelerisque et, placerat ut scelerisque ,Nunc easi diam risus, placerat ut scelerisque et, </p>
		<div class="readmore">
			<p><a href="#">Read More</a></p>
		</div>
	</div>
	<div class="product-grid-list last-grid">
	<h5>Product 04</h5>
		<img src="/assets/pic1.jpg" alt="">
	<p>Qsi turpis, pellentesque at ultrices in, dapibus in magna. Nunc easi diam risus, placerat ut scelerisque et, placerat ut scelerisque ,Nunc easi diam risus, placerat ut scelerisque et, </p>
	<div class="readmore">
			<p><a href="#">Read More</a></p>
		</div>
	</div>
	<div class="product-grid-list">
	<h5>Product 05</h5>
		<img src="/assets/pic2.jpg" alt="">
	<p>Qsi turpis, pellentesque at ultrices in, dapibus in magna. Nunc easi diam risus, placerat ut scelerisque et,placerat ut scelerisque Nunc easi diam risus, placerat ut scelerisque et, </p>
	<div class="readmore">
			<p><a href="#">Read More</a></p>
		</div>
	</div>
	<div class="product-grid-list">
	<h5>Product 06</h5>
		<img src="/assets/pic3.jpg" alt="">
<p>Qsi turpis, pellentesque at ultrices in, dapibus in magna. Nunc easi diam risus, placerat ut scelerisque et, placerat ut scelerisque ,Nunc easi diam risus, placerat ut scelerisque et, </p>
		<div class="readmore">
			<p><a href="#">Read More</a></p>
		</div>
	</div>
	<div class="product-grid-list">
	<h5>Product 07</h5>
		<img src="/assets/pic2.jpg" alt="">
	<p>Qsi turpis, pellentesque at ultrices in, dapibus in magna. Nunc easi diam risus, placerat ut scelerisque et,placerat ut scelerisque Nunc easi diam risus, placerat ut scelerisque et, </p>
	<div class="readmore">
			<p><a href="#">Read More</a></p>
		</div>
	</div>
	<div class="product-grid-list last-grid">
	<h5>Product 08</h5>
		<img src="/assets/pic3.jpg" alt="">
<p>Qsi turpis, pellentesque at ultrices in, dapibus in magna. Nunc easi diam risus, placerat ut scelerisque et, placerat ut scelerisque ,Nunc easi diam risus, placerat ut scelerisque et, </p>
		<div class="readmore">
			<p><a href="#">Read More</a></p>
		</div>
	</div>
	<div class="product-grid-list">
	<h5>Product 09</h5>
		<img src="/assets/pic3.jpg" alt="">
<p>Qsi turpis, pellentesque at ultrices in, dapibus in magna. Nunc easi diam risus, placerat ut scelerisque et, placerat ut scelerisque ,Nunc easi diam risus, placerat ut scelerisque et, </p>
		<div class="readmore">
			<p><a href="#">Read More</a></p>
		</div>
	</div>
	<div class="product-grid-list last-grid">
	<h5>Product 10</h5>
		<img src="/assets/pic1.jpg" alt="">
	<p>Qsi turpis, pellentesque at ultrices in, dapibus in magna. Nunc easi diam risus, placerat ut scelerisque et, placerat ut scelerisque ,Nunc easi diam risus, placerat ut scelerisque et, </p>
	<div class="readmore">
			<p><a href="#">Read More</a></p>
		</div>
	</div>
	<div class="clear"></div>
	</div>
	
	<div class="clear"></div>
</div>

</div>

</body>
