<div class="footer-bg">
<div class="wrap">
	<div class="footer-grid">
		<h3>About Us</h3>
		<ul>
			<li><a href="#">Online Shopping</a></li>
			<li><a href="#">Finance Service</a></li>
			<li><a href="#">Marketing</a></li>
			<li><a href="#">Economic News</a></li>
			<li><a href="#">Business Help</a></li>
		</ul>
	</div>
	<div class="footer-grid">
		<h3>Pages</h3>
		<ul>
			<li><a href="#">Home</a></li>
			<li><a href="#">About Us</a></li>
			<li><a href="#">Our Services</a></li>
			<li><a href="#">Contact Our Team</a></li>
			<li><a href="#">Short Code</a></li>
		</ul>
	</div>
	<div class="f-box">
		<h3>Recent Post</h3>
		<ul>
		<li class="active1"><a href="#">Join Our Facebook Page</a></li>
		<li><a href="#">Join Our Twitter</a></li>
		<li><a href="#">Rss Feed</a></li>
		<li><a href="#">Follow Us Google+</a></li>
		</ul>
	</div>
	<div class="footer-grid1">
		<h3>News-Letters</h3>
		<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. Pellentesque nulla ipsum, pretium ac ultrices non, tincidunt id quam. Mauris dignissim dolor quis risus molestie et ,</p>
	</div>
	<div class="clear"></div>
</div>
<div class="clear"></div>
</div>
<div class="clear"> </div>
<div class="copy-right">
	<p> &copy; 2013 steel. All Rights Reserved | Design by <a href="http://w3layouts.com/">W3layouts</a></p>
</div>
<div class="clear"></div>