		<div class="header">
		<div class="wrap">
					<div class="logo">
			<a href="<%=welding_index_path%>"><img src="/assets/logo.png" alt=""/></a>
			</div>
		<ul class="menu">
				 <li class="active"><a href="index.html">HOME</a> </li>
					 <li class="arrow"><a href="<%= welding_about_path %>">ABOUT</a> </li>
					 <li><a href="services.html">SERVICES</a>  </li>
					 <li><a href="products.html">PRODUCTS</a> </li>
					  <li><a href="contact.html">CONTACT</a> </li>
					    <div id="lavalamp"> </div>
					  <div class="clear"> </div>
				</ul>
				   <div class="clear"> </div>
		</div>
		<div class="clear"> </div>
		</div>